<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Club</key>
	<dict>
		<key>active</key>
		<string>Active</string>
		<key>clubtypeId</key>
		<string>ClubTypeID</string>
		<key>clubtypename</key>
		<string>ClubTypeName</string>
		<key>createdby</key>
		<string>CreatedBy</string>
		<key>createddate</key>
		<string>CreatedDate</string>
		<key>customerid</key>
		<string>CustomerID</string>
		<key>desc</key>
		<string>Description</string>
		<key>enddate</key>
		<string>EndDate</string>
		<key>entity_id</key>
		<string>Id</string>
		<key>modifiedby</key>
		<string>ModifiedBy</string>
		<key>modifieddate</key>
		<string>ModifiedDate</string>
		<key>name</key>
		<string>Name</string>
		<key>organizationdid</key>
		<string>OrganizationId</string>
		<key>startdate</key>
		<string>StartDate</string>
	</dict>
	<key>Event</key>
	<dict>
		<key>active</key>
		<string>Active</string>
		<key>comment</key>
		<string>Comments</string>
		<key>createdby</key>
		<string>CreatedBy</string>
		<key>createddate</key>
		<string>CreatedDate</string>
		<key>customer_id</key>
		<string>CustomerID</string>
		<key>desc</key>
		<string>Description</string>
		<key>end_date</key>
		<string>EndDate</string>
		<key>entity_id</key>
		<string>Id</string>
		<key>event_id</key>
		<string>EventId</string>
		<key>eventname</key>
		<string>EventName</string>
		<key>is_arrive</key>
		<string>IsArive</string>
		<key>is_leave</key>
		<string>IsLeave</string>
		<key>member_id</key>
		<string>MemberId</string>
		<key>modified_date</key>
		<string>ModifiedDate</string>
		<key>modifiedby</key>
		<string>ModifiedBy</string>
		<key>name</key>
		<string>Name</string>
		<key>organiser_name</key>
		<string>OrganiserName</string>
		<key>start_date</key>
		<string>StartDate</string>
		<key>start_time</key>
		<string>StartTime</string>
		<key>type</key>
		<string>Type</string>
		<key>value</key>
		<string>Value</string>
	</dict>
	<key>Member</key>
	<dict>
		<key>active</key>
		<string>Active</string>
		<key>comment</key>
		<string>Comments</string>
		<key>createdby</key>
		<string>CreatedBy</string>
		<key>createddate</key>
		<string>CreatedDate</string>
		<key>customer_id</key>
		<string>CustomerID</string>
		<key>desc</key>
		<string>Description</string>
		<key>end_date</key>
		<string>EndDate</string>
		<key>entity_id</key>
		<string>Id</string>
		<key>event_id</key>
		<string>EventId</string>
		<key>eventname</key>
		<string>EventName</string>
		<key>is_arrive</key>
		<string>IsArive</string>
		<key>is_leave</key>
		<string>IsLeave</string>
		<key>member_id</key>
		<string>MemberId</string>
		<key>modified_date</key>
		<string>ModifiedDate</string>
		<key>modifiedby</key>
		<string>ModifiedBy</string>
		<key>name</key>
		<string>Name</string>
		<key>organiser_name</key>
		<string>OrganiserName</string>
		<key>start_date</key>
		<string>StartDate</string>
		<key>start_time</key>
		<string>StartTime</string>
		<key>type</key>
		<string>Type</string>
		<key>value</key>
		<string>Value</string>
		<key>agreedToPhotoAndVideo</key>
		<string>AgreedToPhotoAndVideo</string>
		<key>medicalHistory</key>
		<string>MedicalHistory</string>
	</dict>
	<key>ClubMember</key>
	<dict>
		<key>club_location_id</key>
		<string>ClubLocationId</string>
		<key>created_by</key>
		<string>CreatedBy</string>
		<key>created_date</key>
		<string>CreatedDate</string>
		<key>customer_id</key>
		<string>CustomerID</string>
		<key>leaveReasonId</key>
		<string>LeaveReasonId</string>
		<key>memberId</key>
		<string>MemberId</string>
		<key>modified_by</key>
		<string>ModifiedBy</string>
		<key>entity_id</key>
		<string>Id</string>
		<key>desc</key>
		<string>Description</string>
		<key>dob</key>
		<string>DOB</string>
		<key>email</key>
		<string>Email</string>
		<key>firstname</key>
		<string>FirstName</string>
		<key>fullname</key>
		<string>FullName</string>
		<key>lastname</key>
		<string>LastName</string>
		<key>medicalHistory</key>
		<string>MedicalHistory</string>
		<key>modified_date</key>
		<string>ModifiedDate</string>
		<key>name</key>
		<string>Name</string>
		<key>phone</key>
		<string>Phone</string>
		<key>previous_experience</key>
		<string>PreviousExperience</string>
		<key>start_date</key>
		<string>StartDate</string>
		<key>agreedToPhotoAndVideo</key>
		<string>AgreedToPhotoAndVideo</string>
		<key>agreedToPromotional</key>
		<string>AgreedToPromotional</string>
	</dict>
	<key>EventStatistics</key>
	<dict>
		<key>totalArrivedMember</key>
		<string>TotalArrivedMember</string>
		<key>totalLeftMember</key>
		<string>TotalLeftMember</string>
		<key>totalRegisteredMember</key>
		<string>TotalRegisteredMember</string>
	</dict>
</dict>
</plist>
